*{
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Manrope:wght@400;500;600;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Protest+Revolution&display=swap')
    margin: 0;
    padding: 0;
    
}
/* banner section start */
body{
    
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
    height: auto;
    width: auto;
    background-image: url(./images/Banner\ Image.png)  ;
    filter:contrast(70%);
    filter: drop-shadow();
   margin-bottom: 100px;
}
.head{
    color: #f1eded;
    width: 100%;
    height: 600px;
    justify-content: center;
    
    
}
.header-text{
    margin: auto;
padding-top: 110px;
    text-align: center;
    align-items: center;
    width: 50%;
    z-index: 100;
    
}
.header-text h1{
    font-size: 70px;
    color: #fdfafa;
    filter:contrast(100%);
}
.header-text h4{
    font-size: 30px;
    color: #fdfafa;
    filter:contrast(100%);
}

/* banner section end */

/* holiday section start */
.holiday{

    margin: auto;
    width: 50%;
    text-align: center;
    
}
.holiday-img img{
    width: 500px;
    
}
.holiday-text h2{
    font-size: 80px;
    color: #fd0202;
    margin-bottom: 40px;
}
.holiday-text h4{
    color: #fd0202;
}
.holiday-text p{
    color: #000;
    font-size: 30px;
    font-weight: bolder;
}
/* holiday section end */

/* midnight party section start */
.party{
    background-image: url(./images/Vectorrr.png)  ;
    height: 600px;
    width: auto;
    opacity: 0.9;
    background-color: #0e0d0d;
    margin-top: 50px;
    position: relative;
}
.party-text{
    width: 50%;
    margin: auto 0;
    position: absolute;
    top: 20%;
    left: 10%;
}
.party-text h3{
    font-weight: bold;
    font-size: 70px;
    color: #faf9f9;
    margin-bottom: 30px;
}
.party-text p{
    font-weight: bold;
    color: #faf9f9;
}
.primary{
    color:white;
    border: none;
    width: 90px;
    height: 30px;
    background-color: transparent;
}
.primary:hover{
    
    border: 2px solid rgb(101, 134, 153);
    border-radius: 5px;
    
}
/* midnight party section end */

/* place section start */
.date-time{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-bottom: 50px;
    width: full;
    height: 400px;
    
    background-color: #cc5399;
    background-image: linear-gradient( to bottom, pink 50%, white);
    position: relative;
}
.date {
   position: absolute;
   top: 35%;
   left: 40%;
}
.date p{
    font-size: x-large;
    font-weight: 700;
    line-height: 40px;
    
}
.date button{
    color: #f1e1ee;
    background-color: #fd0202;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
span{
    color: #fd0202;
}
/* place section end */

/* bonus section start */
.bonus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
}
.bonus-text{
    margin: 30px;
}
.bonus-text h3{
    color: #fd0202;
    font-weight: 500; 
    font-family: "Protest Revolution", sans-serif;
}
.bonus-text h2{
    font-weight: 800;
    font-size: xx-large;
     font-family: "Protest Revolution", sans-serif;
}
.bonus-text p{
    justify-items: center;
     font-family: "Protest Revolution", sans-serif;
}
.bonus-img{
     margin: 30px;
     border: 8px solid red;
     border-radius: 50%;
     padding: 20px;
}
.bonus-last{
     margin: 30px;
}
.bonus-last h2{
    color: #fd0202;
    font-weight: 800;
    font-size: xx-large;
     font-family: "Protest Revolution", sans-serif;
}
/* bonus section end*/

/* sale section start */
.sale{
    text-align: center;
    position: relative;
     font-family: "Protest Revolution", sans-serif;
     margin-bottom: 50px;
}
.sale-text h2{
    font-weight:bolder;
    font-size:40px;
    font-family: "Protest Revolution", sans-serif;
    margin: 5px;
}
.sale-text span{
    color: #fd0202;
    font-weight:bolder;
    font-size:40px;
    font-family: "Protest Revolution", sans-serif;
     margin: 5px;
}
.sale-text p{
    width: 600px;
    margin: auto;
}
.img3{
    width: 100%;
}
.rictangle-img{
    text-align: right;
}

.img2{
    width: 20%;
    margin-top: 50px;
}
.img1{
    position: absolute;
    left: 30px;
    top: 230px;
    width: 40%;
    z-index: 10;
    opacity: 0.8;
    background-color: transparent;
}
.img2{
    text-align: right;

}
/* sale section end */

/* portfolio section start */
.portfolio{
    width: 80%;
    margin: auto;
}
.portfolio-text h5{
    color: #fd0202;
    
}
.portfolio-text h2{
    font-weight: 800;
    font-size: xx-large;
    margin: 0;
}
.portfolio-img {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}
.portfolio-img img{
    width: 300px;
}
.portfolio-img img:hover{
    width: 400px;
    z-index: 10;
    border-radius: 20px;
}
/* portfolio section end */

/* email section start */
.email{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #f1e1ee;
    padding: 40px;
    margin-bottom: 50px;
}
.email img{
    width: 10%;
}
.email h3{
    margin: 0;
    font-weight: 800;
    font-size: xx-large;
     font-family: "Protest Revolution", sans-serif;
}
#email-input{
    width: 300px;
    height: 30px;
    border: none;
    border-radius:40px 0 0 40px;
    padding: 5px;
}
.email button{
    height: 40px;
    border: none;
    border-radius:0 40px 40px 0;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background-color: red;
    gap: 0;
    font-size: large;
}
/* email section end */

/* footer section start */
.location{
    background-color: #0f1029;
}
.upper-site{
display: flex;
    justify-content: space-between;
    padding: 50px;
}
.first-text{
    color: #f1e1ee;
    
}
.second-text{
    color: #f1e1ee;
}
.number, .website{
    display: flex;
}
hr{
    width: 80%;
    margin: auto;
    size: 1;
}
.footer-img{
    display: flex;
    flex-direction: row;
     justify-content: center;
     gap: 10px;
     margin: 20px;
     
}
.lower-site{
    color: #f1e1ee;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
/* footer section end */